@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

$first-font: 'Roboto', sans-serif;
$second-font: 'Playfair Display', serif;
$first-color: rgb(9, 5, 47);
$second-color: rgb(0, 224, 208);
$third-color: rgb(255, 255, 255);

.page{
    width: 100%;
    height: 100vh;
}

.header-section {
    width: 100%;
    background: linear-gradient(rgba(9, 5, 47, 0.6)),
        url(/images/header.png) center no-repeat;
    height: 76%;
    }

    .header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo{
        margin-top: 1rem;
    }

 .navlist{
     display: none;
    list-style-type: none;
 }

 .navlinks{
     text-decoration: none;
     color: $third-color;
     font-family: $first-font;
     font-size: 13px;
     font-weight: 600;
     transition: all ease;
     text-transform: uppercase;
 }

 .active{
     color: $second-color;
 }

 .nav-icon{
     color: $second-color;
     font-size: 24px;
     cursor: pointer;
 }

//  DESKTOP NAVIGATION
 @media screen and (min-width: 1024px){
    .header{
        width: 60%;
        margin: 0 auto;
    }

    .logo{
        margin-left: .9rem;
    }

    .navlist{
        display: flex;
        margin-top: 1rem;
    }

    .navlinks{
        padding-right: 1.5rem;
    }

    .nav-icon{
        display: none;
    }

 }

// HERO CONTENT
.hero-text{
    font-family: $second-font;
    font-size: 33px;
    font-weight: 700;
    margin-top: 6.3rem;
    color: $third-color;
}

.separator{
    border: 1px solid $second-color;
    width: 3rem;
    margin: 20px auto;
}

.hero-paragraph{
    width: 62%;
    font-family: $first-font;
    font-size: 14px;
    color: $third-color;
    line-height: 1.7rem;
    letter-spacing: .5px;
    font-weight: 100;
}

.cta{
    color: $second-color !important;
    border-color: $second-color !important;
    width: 7.8rem !important;
    height: 2.5rem;
    text-transform: uppercase;
    font-family: $first-font;
    font-size: 16px !important;
    text-align: center;
}


// MAIN CONTENT SECTION

.about-container{
    width: 60% !important;
    padding: 2.7rem 0;
    padding-left: 3.4rem !important;
}
.heading{
    font-family: $second-font;
    text-transform: uppercase;
    font-size: 22px;
    padding-left: 3.7rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.our-story{
    font-family: $first-font;
    font-size: 14px;
    font-weight: 100;
    padding-top: .7rem;
    padding-left: 3rem;
    // letter-spacing: .8px;
}

// ABOUT MOBILE
@media screen and (max-width: 1024px){
    .about-container{
        width: 100% !important;
        margin: 0 !important;
    }
    .heading{
        padding-left: 2.8rem !important;
    }

    .our-story{
        padding-left: 1.2rem !important;
    }

    .video-button{
        padding: 10rem 0 !important;
    }
    .video-icon{
        padding-left: 0 !important;
    }
}

.video-container{
    width: 100%;
    background: linear-gradient(rgba(9, 5, 47, 0.6)),
    url(/images/video-bg.png) center no-repeat;
    height: 100%;
}

.video-button{
    width: 40%;
    margin: 0 auto;
    padding: 12.5rem 11rem;
}

.video-icon{
    padding-left: 5.6rem;
}

.watch-our-story{
    color: $third-color;
    font-family: $first-font;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 1.7rem;
    text-align: center;
}

.video-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

    .video {
    background-color: #fefefe;
    margin: 15% 0;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// EXPERTISE SECTION
.expertise-heading{
    padding-top: 3.6rem;
}

.expertise{
    font-family: $second-font;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.expertise-top{
    height: 7rem;
    background: url('/images/expertise-top.png') center no-repeat;
}

.top{
    padding: 0 9rem !important;
}

.top-text{
    width: 70%;
}

.service-heading{
    font-size: 14px;
    font-family: $first-font;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
}

.service-text{
    font-size: 14px;
    font-family: $first-font;
    font-weight: 100;
    width: 70%;
    margin: 0 auto;
    line-height: 20px;
}

.expertise-bottom {
    height: 7rem;
    background: url('/images/expertise-bottom.png') center no-repeat;
}

// EXPERTISE MOBILE
@media screen and (max-width: 1024px){
    .expertise-top{
        width: 100% !important;
        background-size: contain;
    }
    .expertise-bottom{
        width: 100% !important;
        background-size: contain;
    }
    .top{
        width: 100% !important;
        padding: 0 !important;
    }
}

