@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

$first-font: 'Roboto', sans-serif;
$second-font: 'Playfair Display', serif;
$first-color: rgb(9, 5, 47);
$second-color: rgb(0, 224, 208);
$third-color: rgb(255, 255, 255);

.page{
    width: 100% !important;
    height: 100vh !important;
}

.header-section {
    width: 100%;
    background: linear-gradient(rgba(9, 5, 47, 0.6)),
        url(/images/header.png) center no-repeat;
    height: 76%;
    }

    .header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo{
        margin-top: 1rem;
    }

 .navlist{
     display: none;
    list-style-type: none;
 }

 .navlinks{
     text-decoration: none;
     color: $third-color;
     font-family: $first-font;
     font-size: 13px;
     font-weight: 600;
     transition: all ease;
     text-transform: uppercase;
 }

 .active-navlink{
     color: $second-color;
 }

 .nav-icon{
     color: $second-color;
     font-size: 24px;
     cursor: pointer;
 }

//  DESKTOP NAVIGATION
 @media screen and (min-width: 1024px){
    .header{
        width: 60%;
        margin: 0 auto;
    }

    .logo{
        margin-left: .9rem;
    }

    .navlist{
        display: flex;
        margin-top: 1rem;
    }

    .navlinks{
        padding-right: 1.5rem;
    }

    .nav-icon{
        display: none;
    }

 }

// HERO CONTENT
.hero-text{
    font-family: $second-font;
    font-size: 33px;
    font-weight: 700;
    margin-top: 6.3rem;
    color: $third-color;
}

.separator{
    border: 1px solid $second-color;
    width: 3rem;
    margin: 20px auto;
}

.hero-paragraph{
    width: 62%;
    font-family: $first-font;
    font-size: 14px;
    color: $third-color;
    line-height: 1.7rem;
    letter-spacing: .5px;
    font-weight: 100;
}

.cta{
    color: $second-color !important;
    border-color: $second-color !important;
    width: 7.8rem !important;
    height: 2.5rem;
    text-transform: uppercase;
    font-family: $first-font;
    font-size: 16px !important;
    text-align: center;
}

.hero-btn{
    margin-top: 1.6rem !important;
}

@media screen and (max-width: 1024px){
    .hero-btn{
        margin: 0 auto !important;
    }

    .hero-text{
        margin-top: 1rem !important;
    }
}



// MAIN CONTENT SECTION

.about-container{
    width: 60% !important;
    padding: 2.7rem 0;
    padding-left: 3.4rem !important;
}
.heading{
    font-family: $second-font;
    text-transform: uppercase;
    font-size: 22px;
    padding-left: 3.7rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.our-story{
    font-family: $first-font;
    font-size: 14px;
    font-weight: 100;
    padding-top: .7rem;
    padding-left: 3rem;
    // letter-spacing: .8px;
}

.about-btn{
    width: 7.8rem !important;
    margin: .5rem auto !important;
    margin-left: 3rem !important;
}

// ABOUT MOBILE
@media screen and (max-width: 1024px){
    .about-container{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 2rem !important;
    }
    .about-logo{
        margin-bottom: 1rem !important;
    }
    .heading{
        padding-left: 2.8rem !important;
    }

    .our-logo{
        padding: 0 2rem !important;
    }

    .our-story{
        padding-left: 1.2rem !important;
    }

    .about-btn{
        margin: .5rem 5rem !important;
    }

    .video-button{
        padding: 9rem 0 !important;
    }
    .video-icon{
        padding-left: 2rem !important;
    }

    
}

.video-container{
    width: 100%;
    background: linear-gradient(rgba(9, 5, 47, 0.6)),
    url(/images/video-bg.png) center no-repeat;
    height: 100%;
}

.video-button{
    width: 40%;
    margin: 0 auto;
    padding: 12.5rem 11rem;
}

.video-icon{
    padding-left: 5.6rem;
}

.watch-our-story{
    color: $third-color;
    font-family: $first-font;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 1.7rem;
    text-align: center;
}

.video-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

    .video {
    background-color: #fefefe;
    margin: 15% 0;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// EXPERTISE SECTION
.expertise-heading{
    padding-top: 3.6rem;
}

.expertise{
    font-family: $second-font;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.expertise-top{
    height: 7rem;
    background: url('/images/expertise-top.png') center no-repeat;
}

.top{
    padding: 0 9rem !important;
}

.top-text{
    width: 70%;
}

.service-heading{
    font-size: 14px;
    font-family: $first-font;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
}

.service-text{
    font-size: 14px;
    font-family: $first-font;
    font-weight: 100;
    width: 70%;
    margin: 0 auto;
    line-height: 20px;
}

.expertise-bottom {
    height: 7rem;
    background: url('/images/expertise-bottom.png') center no-repeat;
}

.top{
    width: 60%;
    margin: 0 auto !important;
}

// MOBILE
@media screen and (max-width: 1024px){
    .expertise-top{
        width: 80% !important;
        background-size: contain;
        margin: 0 auto !important;
    }
    .expertise-bottom{
        width: 80% !important;
        background-size: contain;
        margin: 0 auto !important;
    }
    .top{
        width: 100% !important;
        padding: 0 !important;
        margin: 0;
    }

    .member-info{
        width: 11.8rem !important;
    }

    .work-heading{
        width: 90% !important;
        padding: 0 !important;
    }

}

.team-section{
    width: 100%;
    background: linear-gradient(rgba(9, 5, 47, 0.6)),
    url(/images/team-bg.png) center no-repeat;
    margin-top: 7rem !important;
}

.team{
    font-family: $second-font;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: $third-color;
    letter-spacing: 1.3px;
}

.team-separator{
    border: 1px solid $third-color;
    width: 3rem !important;
    margin: 0 auto !important;
}

.team-heading{
    padding-top: 4rem;
}

.team-text{
    color: $third-color;
    font-family: $second-font;
    font-size: 14px;
    letter-spacing: 1px;
}

.member-block{
    width: 63% !important;
    margin: 2.8rem auto !important;
}

.member-info{
    padding-top: 1.2rem;
    border: 1px solid $third-color;
    width: 13.5rem;
    height: 5.2rem !important;
}


.member-name{
    color: $third-color;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $first-font;
}

.member-role{
     color: $third-color;
     font-size: 11px;
     text-transform: uppercase;
     font-weight: 100;
     font-family: $first-font;
}

.hiring{
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
}

.hiring-text{
    margin-bottom: 0 !important;
    color: $third-color;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    font-family: $first-font;
    letter-spacing: 1px;
}

.hiring-button{
    width: 9rem !important;
}

.work-heading{
    width: 79% !important;
    margin: 3.6rem auto !important;
    padding-left: 3rem !important;
}

.work-title{
    font-family: $second-font;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.all-projects{
    text-decoration: none;
    color: $first-color;
    font-size: 14px;
    padding-left: 1rem !important;
    letter-spacing: .5px;
}

.box{
    height: 12.3rem !important;
}

.load-more{
    margin: 4.6rem auto !important;
    width: 9rem !important;
}

.review-section{
     width: 100%;
     background: linear-gradient(rgba(9, 5, 47, 0.6)),
     url(/images/team-bg.png) center no-repeat;
     padding-top: 2.2rem !important;
     padding-bottom: 1rem !important;
}

.review-container{
    margin-bottom: 2rem !important;
}

.quote{
    font-size: 80px;
    color: $third-color;
    font-family: $second-font;
    text-align: center;
    margin-bottom: 0;
}

.review{
    width: 58%;
    margin: 0 auto;
    color: $third-color;
    font-family: $second-font;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    // letter-spacing: 1px;
    line-height: 1.6rem;
    padding-bottom: 4rem !important;
}

.reviewer-name{
    color: $third-color;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.reviewer-role{
    color: $third-color;
    font-size: 14px;
    text-align: center;
}

.contact-heading{
    font-size: 22px;
    font-family: $second-font;
    padding-top: 4rem !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.contact-form{
    width: 28%;
    margin: 2rem auto !important;

}

.input{
    height: 3rem;
}

.submit-button{
    margin-top: 2rem !important;
    margin-bottom: 2.5rem !important;
}

.footer{
     width: 100%;
     background: linear-gradient(rgba(9, 5, 47, 0.6)),
     url(/images/footer-bg.png) center no-repeat;
}

.footer-container{
    width: 63% !important;
    margin: 0 auto !important;
    padding-top: 4rem !important;
}

.footer-logo{
    margin-bottom: 1.7rem !important;
}

.footer-text{
    color: $third-color;
    font-weight: 100;
    font-size: 14px;
}



.our-studio{
    font-size: 14px;
    color: $third-color;
    text-transform: uppercase;
    padding-top: 1.3rem !important;
}

.address-container{
    padding-top: 1.8rem !important;
}

.address-image{
    height: 20px !important;
    padding-right: 1rem !important;
}

.address{
    color: $third-color;
    font-family: $first-font;
    font-weight: 100;
    font-size: 14px;
}

.newsletter{
    background: transparent;
    width: 70%;
    height: 3rem !important;
    margin: 1.8rem auto !important;
    border: 1px solid $third-color;
}

.send-button{
    width: 70px !important;
    height: 40px !important;
    margin-top: 1.9rem;
}

.copyright{
    padding: 4rem 0;
    padding-left: 4rem !important;
    font-family: $first-font;
}
