@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");
.page {
  width: 100% !important;
  height: 100vh !important;
}

.header-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 5, 47, 0.6))), url(/images/header.png) center no-repeat;
  background: linear-gradient(rgba(9, 5, 47, 0.6)), url(/images/header.png) center no-repeat;
  height: 76%;
}

.header {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.logo {
  margin-top: 1rem;
}

.navlist {
  display: none;
  list-style-type: none;
}

.navlinks {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all ease;
  transition: all ease;
  text-transform: uppercase;
}

.active-navlink {
  color: #00e0d0;
}

.nav-icon {
  color: #00e0d0;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header {
    width: 60%;
    margin: 0 auto;
  }
  .logo {
    margin-left: .9rem;
  }
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  .navlinks {
    padding-right: 1.5rem;
  }
  .nav-icon {
    display: none;
  }
}

.hero-text {
  font-family: "Playfair Display", serif;
  font-size: 33px;
  font-weight: 700;
  margin-top: 6.3rem;
  color: white;
}

.separator {
  border: 1px solid #00e0d0;
  width: 3rem;
  margin: 20px auto;
}

.hero-paragraph {
  width: 62%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.7rem;
  letter-spacing: .5px;
  font-weight: 100;
}

.cta {
  color: #00e0d0 !important;
  border-color: #00e0d0 !important;
  width: 7.8rem !important;
  height: 2.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  text-align: center;
}

.hero-btn {
  margin-top: 1.6rem !important;
}

@media screen and (max-width: 1024px) {
  .hero-btn {
    margin: 0 auto !important;
  }
  .hero-text {
    margin-top: 2rem !important;
  }
}

.about-container {
  width: 60% !important;
  padding: 2.7rem 0;
  padding-left: 3.4rem !important;
}

.heading {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 22px;
  padding-left: 3.7rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.our-story {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding-top: .7rem;
  padding-left: 3rem;
}

.about-btn {
  width: 7.8rem !important;
  margin: .5rem auto !important;
  margin-left: 3rem !important;
}

@media screen and (max-width: 1024px) {
  .about-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 2rem !important;
  }
  .about-logo {
    margin-bottom: 1rem !important;
  }
  .heading {
    padding-left: 2.8rem !important;
  }
  .our-logo {
    padding: 0 2rem !important;
  }
  .our-story {
    padding-left: 1.2rem !important;
  }
  .about-btn {
    margin: .5rem 5rem !important;
  }
  .video-button {
    padding: 9rem 0 !important;
  }
  .video-icon {
    padding-left: 2rem !important;
  }
}

.video-container {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 5, 47, 0.6))), url(/images/video-bg.png) center no-repeat;
  background: linear-gradient(rgba(9, 5, 47, 0.6)), url(/images/video-bg.png) center no-repeat;
  height: 100%;
}

.video-button {
  width: 40%;
  margin: 0 auto;
  padding: 12.5rem 11rem;
}

.video-icon {
  padding-left: 5.6rem;
}

.watch-our-story {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 1.7rem;
  text-align: center;
}

.video-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.video {
  background-color: #fefefe;
  margin: 15% 0;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.expertise-heading {
  padding-top: 3.6rem;
}

.expertise {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.expertise-top {
  height: 7rem;
  background: url("/images/expertise-top.png") center no-repeat;
}

.top {
  padding: 0 9rem !important;
}

.top-text {
  width: 70%;
}

.service-heading {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 600;
}

.service-text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 70%;
  margin: 0 auto;
  line-height: 20px;
}

.expertise-bottom {
  height: 7rem;
  background: url("/images/expertise-bottom.png") center no-repeat;
}

.top {
  width: 60%;
  margin: 0 auto !important;
}

@media screen and (max-width: 1024px) {
  .expertise-top {
    width: 80% !important;
    background-size: contain;
    margin: 0 auto !important;
  }
  .expertise-bottom {
    width: 80% !important;
    background-size: contain;
    margin: 0 auto !important;
  }
  .top {
    width: 100% !important;
    padding: 0 !important;
    margin: 0;
  }
  .member-info {
    width: 11.8rem !important;
  }
  .work-heading {
    width: 90% !important;
    padding: 0 !important;
  }
}

.team-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 5, 47, 0.6))), url(/images/team-bg.png) center no-repeat;
  background: linear-gradient(rgba(9, 5, 47, 0.6)), url(/images/team-bg.png) center no-repeat;
  margin-top: 7rem !important;
}

.team {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  letter-spacing: 1.3px;
}

.team-separator {
  border: 1px solid white;
  width: 3rem !important;
  margin: 0 auto !important;
}

.team-heading {
  padding-top: 4rem;
}

.team-text {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.member-block {
  width: 63% !important;
  margin: 2.8rem auto !important;
}

.member-info {
  padding-top: 1.2rem;
  border: 1px solid white;
  width: 13.5rem;
  height: 5.2rem !important;
}

.member-name {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.member-role {
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

.hiring {
  padding-top: 1rem !important;
  padding-bottom: 3rem !important;
}

.hiring-text {
  margin-bottom: 0 !important;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.hiring-button {
  width: 9rem !important;
}

.work-heading {
  width: 79% !important;
  margin: 3.6rem auto !important;
  padding-left: 3rem !important;
}

.work-title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.all-projects {
  text-decoration: none;
  color: #09052f;
  font-size: 14px;
  padding-left: 1rem !important;
  letter-spacing: .5px;
}

.box {
  height: 12.3rem !important;
}

.load-more {
  margin: 4.6rem auto !important;
  width: 9rem !important;
}

.review-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 5, 47, 0.6))), url(/images/team-bg.png) center no-repeat;
  background: linear-gradient(rgba(9, 5, 47, 0.6)), url(/images/team-bg.png) center no-repeat;
  padding-top: 2.2rem !important;
  padding-bottom: 1rem !important;
}

.review-container {
  margin-bottom: 2rem !important;
}

.quote {
  font-size: 80px;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 0;
}

.review {
  width: 58%;
  margin: 0 auto;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6rem;
  padding-bottom: 4rem !important;
}

.reviewer-name {
  color: white;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.reviewer-role {
  color: white;
  font-size: 14px;
  text-align: center;
}

.contact-heading {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  padding-top: 4rem !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-form {
  width: 28%;
  margin: 2rem auto !important;
}

.input {
  height: 3rem;
}

.submit-button {
  margin-top: 2rem !important;
  margin-bottom: 2.5rem !important;
}

.footer {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 5, 47, 0.6))), url(/images/footer-bg.png) center no-repeat;
  background: linear-gradient(rgba(9, 5, 47, 0.6)), url(/images/footer-bg.png) center no-repeat;
}

.footer-container {
  width: 63% !important;
  margin: 0 auto !important;
  padding-top: 4rem !important;
}

.footer-logo {
  margin-bottom: 1.7rem !important;
}

.footer-text {
  color: white;
  font-weight: 100;
  font-size: 14px;
}

.our-studio {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  padding-top: 1.3rem !important;
}

.address-container {
  padding-top: 1.8rem !important;
}

.address-image {
  height: 20px !important;
  padding-right: 1rem !important;
}

.address {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.newsletter {
  background: transparent;
  width: 70%;
  height: 3rem !important;
  margin: 1.8rem auto !important;
  border: 1px solid white;
}

.send-button {
  width: 70px !important;
  height: 40px !important;
  margin-top: 1.9rem;
}

.copyright {
  padding: 4rem 0;
  padding-left: 4rem !important;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style.css.map */